.container {
  width: 80%;
  margin: 0 auto 100px;
}
h1 {
  text-align: center;
}
p {
  text-align: center;
}
ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 0;
}
li {
  list-style: none;
  width: 45%;
  text-align: center;
  border: 1px black solid;
  padding: 10px 0;
  margin: 10px 0;
}
button {
  display: block;
  margin: 0 auto;
  cursor: pointer;
}
